@model HansKindberg.Web.Mvc.Simulation.Application.Models.ChangePasswordModel
@{ this.ViewBag.Title = "Change password"; }
@if(this.Request.IsAuthenticated)
{
    if(this.ViewBag.Confirm != null && this.ViewBag.Confirm)
    {
        <div class="alert alert-success">
            <h2>Confirmation</h2>
            <p>Your password has been changed successfully.</p>
        </div>
    }
    else
    {
        <p>Use the form below to change your password.</p>
        <p>New passwords are required to be a minimum of @this.ViewBag.PasswordLength characters in length.</p>
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        using(this.Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                <fieldset>
                    <legend>Account Information</legend>
                    @this.Html.LabelFor(m => m.OldPassword)
                    @this.Html.PasswordFor(m => m.OldPassword)
                    @this.Html.ValidationMessageFor(m => m.OldPassword)
                    @this.Html.LabelFor(m => m.NewPassword)
                    @this.Html.PasswordFor(m => m.NewPassword)
                    @this.Html.ValidationMessageFor(m => m.NewPassword)
                    @this.Html.LabelFor(m => m.ConfirmPassword)
                    @this.Html.PasswordFor(m => m.ConfirmPassword)
                    @this.Html.ValidationMessageFor(m => m.ConfirmPassword)
                    <p>
                        <input type="submit" value="Change password" />
                    </p>
                </fieldset>
            </div>
        }
    }
}
else
{
    <div class="alert alert-block">
        <h2>Warning</h2>
        <p>You are not logged on. You must log on before you can change your password.</p>
    </div>
}